<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="Calculator" class="aspects.Calculator"></bean>
	<bean id="Command" abstract="true" class="aspects.Command"></bean>
	
	<bean id="Sum" class="aspects.Sum"></bean>
	<bean id="Divide" class="aspects.Divide"></bean>

	<bean id="Logging" class="aspects.Logging" />
	<aop:config>
		<aop:aspect id="aspect1" ref="Logging">
			<aop:before method="beforeGet" pointcut="execution(public !void get*(..))" />
			<aop:before method="beforeSet" pointcut="execution(public void set*())" />
			<aop:before method="beforePrint" pointcut="execution(public void pri*())" />
			<aop:after method="afterGet" pointcut="execution(public String get*())" />
			<aop:after method="afterSet" pointcut="execution(public void set*())" />
			<aop:after-throwing method="afterError"
				pointcut="execution(public void error())" />
		</aop:aspect>
	</aop:config>
</beans>